<!DOCTYPE html>
<html>
<body>

<h2>Add a new bookmark:</h2>

  <form action="/bookmarks/new" method="post">
    Bookmark URL:<br>
    <input type="text" name="url">
    <br><br>
    <input type="submit" value="Submit">
  </form> 

</body>
</html>
